@model pg.Models.QUESTION

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>examstart</title>
    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <style>
        body {
            background-image: url('../../Content/img/quizcompleteloop.gif');
            background-size: cover;
        }
    </style>
</head>
<body>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        <div class="container">
            <div class="row">
                <div class="col-lg-10 col-md-10 col-xs-10 col-sm-10">
                    <div class="row">

                        <h1 style="font-family:Arial"> @Html.DisplayFor(x => x.Q_TEXT)</h1>
                    </div>
                    <br />
                    <br />
                    <br />
                    <br />
                    <div class="row">
                        <h5 style="font-family:Arial"> @Html.RadioButtonFor(x => x.OPA, @Model.QUESTION_ID) @Model.OPA</h5>
                    </div>
                    <div class="row">
                        <h5 style="font-family:Arial"> @Html.RadioButtonFor(x => x.OPB, @Model.QUESTION_ID) @Model.OPB</h5>
                    </div>
                    <div class="row">
                        <h5 style="font-family:Arial"> @Html.RadioButtonFor(x => x.OPC, @Model.QUESTION_ID) @Model.OPC</h5>
                    </div>
                    <div class="row">
                        <h5 style="font-family:Arial"> @Html.RadioButtonFor(x => x.OPD, @Model.QUESTION_ID) @Model.OPD</h5>
                    </div>

                    <br />
                    <br />
                    <div class="row">
                        <input type="submit" value="submit" class="btn btn-success" />


                    </div>
                </div>
            </div>
        </div>
    }

</body>
</html>
